<mat-card class="ancho">
  <mat-card-title>Crear orden</mat-card-title>
  <mat-card-content>
    <div style="align-content: center">
      <form (ngSubmit)="onSubmit()" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Cliente:" #selectElem (change)="setNewCustomer(selectElem.value)" required [(ngModel)]="order.customerId"
            name="customerId">
            <mat-option *ngFor="let customer of customers" [value]="customer.customerId">
              {{customer.name}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">Elige uno de los clientes de la lista desplegable</mat-hint>
        </mat-form-field>

        <p>
          <mat-form-field class="example-full-width" hintLabel="Max 255 caracteres">
            <input matInput #input placeholder="Direccion de entrega" id="deliveryAddress" required [(ngModel)]="order.deliveryAddress"
              name="deliveryAddress" type="text" maxlength="255">
            <mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput placeholder="Fecha de creación" id="creationDate" required [(ngModel)]="fecha" name="creationDate" type="date">
          </mat-form-field>
        </p>
        <div class='noList'>
          <mat-card *ngIf="!noList">
            <mat-card-content class="w3-container w3-responsive">
              <mat-card-title>Productos:</mat-card-title>
              <table  class="w3-table-all w3-margin-top">
                <tr>
                  <th>Producto </th>
                  <th>Precio ($) </th>
                  <th>Cantidad </th>
                </tr>

                <tr *ngFor="let product of customerSeleccionado.products">
                  <td>{{product.name}} </td>
                  <td style="text-align: right">{{product.price}} </td>
                  <td style="width: 10px;">
                    <mat-form-field>
                      <input matInput type="number" required min="0" max="5" value="0" name="quantitys" style="text-align: right; ">
                    </mat-form-field>
                  </td>
                  <td name="productIds" style="visibility: hidden">{{product.productId}}</td>
                </tr>
              </table>

            </mat-card-content>
          </mat-card>
          <br>
          <div style="text-align: center;">
            <button mat-fab matTooltip="Regresar a ordenes" type="button" (click)="cancelar()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-fab matTooltip="Crear orden" color="primary" type="submit">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-fab matTooltip="Limpiar datos" type="reset" (click)="limpiar()"  id="clean">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>