<div class="w3-container w3-white">
  <h2>Listado de clientes</h2>

  <a mat-raised-button color="primary" (click)="createCustomer()" class="general">
    <mat-icon>person_add</mat-icon> Nuevo</a>
  <input class="w3-input w3-border w3-padding" type="text" placeholder="Buscar..." id="myInput" (keyup)="search()">
</div>

<div class="w3-container w3-white w3-responsive">
  <table class="w3-table-all w3-margin-top" id="myTable">
    <tr>
        <th></th>
      <!--<th>ID</th>-->
      <th>Nombre</th>
      <th>Email</th>
      <th>Productos</th>
    </tr>
    <tr *ngFor="let customer of customers">
        <td style="text-align: center;">
          <button matTooltip="Editar" mat-icon-button color="primary" (click)="updateCustomer(customer)">
            <mat-icon>mode_edit</mat-icon>
            </button>
            <button matTooltip="Eliminar" mat-icon-button style="color: #607D8B" (click)="deleteCustomer(customer)">
              <mat-icon>delete</mat-icon>
            </button>
        </td>
      <!--<td>{{customer.customerId}}</td>-->
      <td>{{customer.name}}</td>
      <td>{{customer.email}}</td>
      <td>
        <p *ngFor="let product of customer.products">{{product.name}}</p>
      </td>
    </tr>
  </table>
  <br>
</div>
