.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.general {
  font-size: 20px;
  align-items: right;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
